body, h1, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8B0000;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #000;
    color: white;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.userInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.userIcon {
    font-size: 2em;
    margin-right: 10px;
}

.userText .logout {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}

.menu .menuItem {
    background-color: #B22222;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.menuItem .icon {
    margin-right: 10px;
    font-size: 1.5em;
}

.mainContent {
    background-color: #D3A6A6;
    flex-grow: 1;
    padding: 20px;
}

.header {
    background-color: #B22222;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.teams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.team {
    background-image: url(./assetsGamePlaces/img/abigail-keenan-8-s5QuUBtyM-unsplash.jpg);
    height: 40vh;
    background-color: #B22222;
    color: white;
    border-radius: 15px; 
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem:hover {
    background-color:#FF6347;
}

.team:hover{
    cursor: pointer;
    color: #8B0000;
}