@font-face {
    font-family:"renegade-pursuit";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/renegade-pursuit/Renegade\ Pursuit.otf") format("otf");
}


html {
    box-sizing: border-box;
    font-family: "renegade-pursuit";
    font-size: 16px;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}